<?xml version = "1.0" encoding = "UTF-8"?>
<menu>
    <appetizers>
        <item>
            <title>Jicama, Apple and Carrot Salad</title>
            <price>$7.95</price>
            <description>Rice paper,shrimp,vermicelli noodles,lettuce, herbs, and vegetables,peanut hoisin sauce</description>
            <preference>non-veg</preference>
            <image>../images/ap-1.1.jpg</image>
        </item>    
        <item>
            <title>Vietnamese chicken salad</title>
            <price>$6.95</price>
            <description>Tender shredded chicken, crisp cabbage, fresh herbs, and julienned veggies, all tossed in a tangy nuoc cham dressing.</description>
            <preference>non-veg</preference>
            <image>../images/ap-2.1.jpg</image>
        </item>
        <item>
            <title>Vietnamses spring rolls</title>
            <price>$7.95</price>
            <description>Rice paper,shrimp,vermicelli noodles,lettuce, herbs, and vegetables,peanut hoisin sauce</description>
            <preference>non-veg</preference>
            <image>../images/ap-4.1.jpg</image>
        </item>
        <item>
            <title>TD Signature Rolls</title>
            <price>$10.70</price>
            <description>sushi-grade fish,avocado,cucumber</description>
            <preference>non-veg</preference>
            <image>../images/ap -5.jpg</image>
        </item>
    </appetizers>
    <mains>
        <item>
            <title>Mì Quảng</title>
            <price>$16.95</price>
            <description>Tumeric-infused rice noodles, succulent shredded chicken or pork,and a fragrant savory broth infused with lemongrass and peanuts</description>
            <preference>non-veg</preference>
            <image>../images/ma-2.1.jpg</image>
        </item>
        <item>
            <title>Bún bò Huế</title>
            <price>$15.95</price>
            <description>vermicelli noodles,lemongrass-infused beef broth</description>
            <preference>non-veg</preference>
            <image>../images/ma-3.jpg</image>
        </item>
        <item>
            <title>Pho</title>
            <price>$15.65</price>
            <description>beef broth infused with star anise, cinnamon, and roasted ginger and beef brisket,rare steak, and meatballs</description>
            <preference>non-veg</preference>
            <image>../images/ma-5.jpg</image>
        </item>
        <item>
            <title>Chicken pho</title>
            <price>$16.95</price>
            <description>poached chicken,rice noodles, broth with ginger,onions and star anise </description>
            <preference>non-veg</preference>
            <image>../images/ma-6.1.jpg</image>
        </item>
    </mains>
    <drinks>
        <item>
            <title>Jasmin Green Tea</title>
            <price>$7.85</price>
            <description>jasmine blossoms	and premium green tea leaves</description>
            <preference>veg</preference>
            <image>../images/dr-2.2.jpg</image>
        </item>
        <item>
            <title>Passion juice</title>
            <price>$5.95</price>
            <description>passion fruit</description>
            <preference>veg</preference>
            <image>../images/dr-3.jpg</image>
        </item>
        <item>
            <title>Egg coffee</title>
            <price>$4.95</price>
            <description>egg,condensed milk ,Vietnamese espresso</description>
            <preference>non-veg</preference>
            <image>../images/dr-4.jpg</image>
        </item>
        <item>
            <title>Coconut coffee</title>
            <price>$5.95</price>
            <description>espresso,creamy coconut,milk and caffeine boost</description>
            <preference>veg</preference>
            <image>../images/dr-5.1.jpg</image>
        </item>
    </drinks>
    <desserts>
        <item>
            <title>Vietnamese sponge cake</title>
            <price>$6.82</price>
            <description>egg and vanilla</description>
            <preference>non-veg</preference>
            <image>../images/d-1.2.jpg</image>
        </item>
        <item>
            <title>Sasame Balls</title>
            <price>$6.85</price>
            <description>rice balls are coated in a toasted sesame seeds and mung bean or coconut filling</description>
            <preference>veg</preference>
            <image>../images/d-2.jpg</image>
        </item>
        <item>
            <title>Coconut caramel flan</title>
            <price>$5.89</price>
            <description>caramel custard, coconut milk</description>
            <preference>veg</preference>
            <image>../images/d-3.jpg</image>
        </item>       
    </desserts>
</menu>    




